<a href="https://colab.research.google.com/github/sahanakale/sql_to_pandas/blob/main/Copy_of_from_sql_to_pandas_challenge_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# From SQL to pandas challenge 7

In [ ]:
# import libraries
import pandas as pd

# load data
# This code is made to load our data stored on Google Drive
def gd_path(file_id):
    """Generate a shareable link from Google Drive file id."""
    return f"https://drive.google.com/uc?export=download&id={file_id}"

# Google Drive file ids
files_id = {
    "titleauthor": "1F1JOiYXStWacOBca6coNVfyVtoST7ZgD",
    "titles": "1PLdn50N9GRa53ZbuVWo0l47F_IXdvlEm",
    "stores": "1f-GCgip7O93CpbAkYvOsc21eKnSOSHsQ", 
    "sales": "1fzFc9rwYmVIPaGOFmhLVxCi3kg19vNU2", 
    "roysched": "1zPRZPoFPEMKyrNR5VSENeYFHGCBZmxbs", 
    "publishers": "1s9E8_AVOziTrowb3wyh2jg3PV763VOyq",
    "pub_info": "1OEgogcGKy--EpuVj0kqq7lyBZNGW6YSv", 
    "jobs": "1V1Za8hUdXD-vJOyRdX4aQV5wanIff2eM", 
    "employee": "1h9mUjsVqpP74b1w0x7KOw37n_n9Ulkt5", 
    "discounts": "111dvSxMcCsTgOuV1wDSKFJxO1Xcxd9VS", 
    "authors": "1fEF89Nhe61EebAljKlwFwfEuokK0o6aJ"
}

# Read data from Google Drive
authors = pd.read_csv(gd_path(files_id["authors"]), sep=";")
titles = pd.read_csv(gd_path(files_id["titles"]), sep=";")
sales = pd.read_csv(gd_path(files_id["sales"]), sep=";")
employee = pd.read_csv(gd_path(files_id["employee"]), sep=";")

## 1. Find the total amount of authors for each state

In [ ]:
df1 = authors.groupby(['state'])['au_id'].count()
df1

state
CA    15
IN     1
KS     1
MD     1
MI     1
OR     1
TN     1
UT     2
Name: au_id, dtype: int64

### Hint:

In SQL the syntax is:

```sql
SELECT COUNT(au_id) , state
FROM authors
group by state;
```

## 2. Find the total amount of authors by each state and order them in descending order

In [ ]:
groupedDF = authors.groupby(['state'], sort = False).sum()
sortedDF = groupedDF.sort_values('contract', ascending=False)
sortedDF

           zip  contract
state
CA     1420063        13
UT      168304         2
OR       97330         1
MI       48105         1
IN       46403         1
MD       20853         1
KS       66044         0
TN       37215         0

### Hint:

In SQL the syntax is:

```sql
SELECT COUNT(au_id) Total,state
FROM authors
GROUP BY state
ORDER BY (total) DESC;
```

## 3. What's the price of the most expensive title from each publisher?

In [ ]:
groupedDF = titles.groupby(['pub_id'], sort = False).max()
groupedDF

<ipython-input-39-cd2428437b14>:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  groupedDF = titles.groupby(['pub_id'], sort = False).max()

,title_id,title,type,price,advance,royalty,ytd_sales,pubdate
pub_id,,,,,,,,
1389,PC9999,The Busy Executive's Database Guide,popular_comp,22.95,8000.0,16,8780,2014-11-07 10:39:37
736,PS7777,You Can Combat Computer Stress!,psychology,19.99,10125.0,24,18722,1991-10-05 00:00:00
877,TC7777,The Psychology of Computer Cooking,trad_cook,21.59,15000.0,24,22246,2014-11-07 10:39:37

### Hint:

In SQL the syntax is:

```sql
SELECT MAX(price), pub_id
FROM titles
GROUP BY pub_id;
```

## 4. Find out the top 3 stores with the most sales

In [ ]:
groupedDF = sales.groupby(['stor_id'], sort = False).sum()
sortedDF = groupedDF.sort_values('qty', ascending=False)
sortedDF.head(3)

         qty
stor_id
7131     130
7066     125
7067      90

### Hint:

In SQL the syntax is:

```sql
SELECT stor_id, SUM(qty)
FROM sales
GROUP BY stor_id
ORDER BY SUM(qty) DESC
LIMIT 3;
```

## 5. Find the average job level for each job_id from the employees table.
    Order the jobs in ascending order by its average job level.

In [ ]:
groupedDF = employee.groupby(['job_id'], sort = False).mean()
sortedDF = groupedDF.sort_values('job_lvl', ascending=False)
sortedDF

           job_lvl       pub_id
job_id
4       227.000000  9952.000000
2       215.000000  9952.000000
3       200.000000  9952.000000
5       187.285714  3754.285714
6       176.000000  3250.250000
7       142.500000  3250.250000
8       125.250000  3250.250000
9       123.250000  3250.250000
11      121.750000  3250.250000
10      101.750000  3250.250000
14       74.666667  1000.666667
13       66.333333  1000.666667
12       55.666667  1000.666667

### Hint:

In SQL the syntax is:

```sql
SELECT AVG(job_lvl), job_id
FROM employee
GROUP BY job_id
ORDER BY AVG(job_lvl);
```

## 6. For each type (business, psychology…), find out how many books each publisher has

In [ ]:
df6 = titles.groupby(['pub_id','type'], sort = False).count()
df6

                     title_id  title  price  advance  royalty  ytd_sales  \
pub_id type
1389   business             3      3      3        3        3          3
736    business             1      1      1        1        1          1
877    mod_cook             2      2      2        2        2          2
       UNDECIDED            1      1      1        1        1          1
1389   popular_comp         3      3      3        3        3          3
877    psychology           1      1      1        1        1          1
736    psychology           4      4      4        4        4          4
877    trad_cook            3      3      3        3        3          3

                     notes  pubdate
pub_id type
1389   business          3        3
736    business          1        1
877    mod_cook          2        2
       UNDECIDED         0        1
1389   popular_comp      3        3
877    psychology        1        1
736    psychology        4        4
877    trad_cook         3        3

### Hint:

In SQL the syntax is:

```sql
SELECT pub_id, type, COUNT(title_id)
FROM titles
GROUP BY pub_id , type;
```

## 7. Add the average price of each publisher - book type combination from your previous query

In [ ]:
df7 = titles.groupby(['pub_id','type']).agg({'price':['mean', 'count']})
df7

                         price
                          mean count
pub_id type
736    business       2.990000     1
       psychology    11.482500     4
877    UNDECIDED      0.000000     1
       mod_cook      11.490000     2
       psychology    21.590000     1
       trad_cook     15.963333     3
1389   business      17.310000     3
       popular_comp  14.316667     3

### Hint:

In SQL the syntax is:

```sql
SELECT  AVG(price), COUNT(*), pub_id,type
FROM titles
GROUP BY pub_id, type;
```

# BONUS

This is part of the section Advanced Pandas.

## 8. From your previous query, keep only the combinations of publisher - book type with an average price higher than 12

SyntaxError: ignored

### Hint:

In SQL the syntax is:

```sql
SELECT pub_id,type, COUNT(*)
FROM titles
GROUP BY pub_id, type
HAVING AVG(price) > 12;
```

## 9. Order the results of your previous query by these two criteria:
1. Count of books, descendingly
2. Average price, descendingly

### Hint:

In SQL the syntax is:

```sql
SELECT  pub_id, type, COUNT(*), AVG(price)
FROM titles
GROUP BY pub_id, type
HAVING AVG(price) > 12
ORDER BY COUNT(*) DESC, AVG(price) DESC;
```

## 10. Some authors have a contract, while others don't - it's indicated in the "contract" column of the authors table.
     
    Select all the states and cities where there are 2 or more contracts overall

### Hint:

In SQL the syntax is:

```sql
SELECT SUM(contract),city,state
FROM authors
GROUP BY state,city
HAVING SUM(contract)>1;
```